<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} Item Catalog App | Udacity {% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries/js"></script>
	<![endif]-->
	<link type="text/css" rel="stylesheet" href={{ url_for('static', 
										     filename="css/catalog.css") }} />
</head>

<body>
	<div id="top" class="top">
		<div class="app-title">
			<h2><a href="/catalog/">Catalog App</a></h2>
		</div>
		<div class="login-link">
			<a href="#" class="login-btn">Login</a>
		</div>
	</div>
	<div id="messages" class="messages">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class="flashes">
				{% for message in messages %}
					<li>{{message}}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>
	<div id="content" class="content">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
